@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #dae3de;
  font-family: "IBM Plex Sans Thai", sans-serif !important;
}

div {
  font-family: "IBM Plex Sans Thai", sans-serif !important;
}

select {
  @apply bg-gray-100 p-2 w-full space-x-4 rounded-lg text-green-needle-500 font-medium;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(85, 85, 85);
}
